/* CSS Document */



.mainBar{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    position: relative;
    bottom: 0;
}

.viewPort{
    display: -webkit-box;
    -webkit-box-orient:vertical;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
    width:100%;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-box-flex: 1;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}





.menuView_width1{
   width: 100%;
}
.menuView_width2{
    width: 200%;

}
.menuView_width3{
   width: 300%;
 }
.menuView_width4{
    width: 400%;
}


.de_List{
    min-height: 5em;
}


.collect-time{
float: left;
    margin-left: 30px;
}
.collect-time-icon{
    float: left;
   background-image: url(../../myImages/clock.png);width:33px;height:33px;
   background-position: center center;
    background-size: 100% 100%;
}
.collect-heart{
    float: right;
    margin-right: 30px;

}
.collect-heart-icon{
    float: left;
    background-image: url(../../myImages/heart.png);width:33px;height:33px;
background-position: center center;
    background-size: 100% 100%;
}

/* --start --- BarMenu 样式*/
.myIcon_no{
    background-color:rgba(0, 0, 0, 0);
    background-size:100% 100% ;
    display: block;
    margin: auto;
}

 .myIcon{
    background-color:rgba(0, 0, 0, 0);
    display: block;
    margin: auto;
    margin-top: 0.1em;
    background-size:100% 100% ;
}

.mytitleLabel_have{
    margin: 0;
    padding-top: 0.3em;
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.48);
}
.BarMenu .x-tab-active .mytitleLabel_have{
    margin: 0;
    padding-top: 0.3em;
    height: 34%;
    color: rgb(255, 255, 255);
}
.mytitleLabel_no{
    display: none;
}

.BarMenu{
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
}
.BarMenu div{
    background-color:rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.BarMenu .x-tab-icon{
    -webkit-box-orient: vertical;
    height: 100%;
}

/* --end --- BarMenu 样式*/


/*.arrow_right{
    width: 2em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    top: 0.8em;
    right: 0;

}
.arrow_right span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;
}*/

.x-form-label span{
    font-weight:normal;
}
.share_Float{
    height: 100%;
}
/*宝鸡channel 样式*/
#baoji_channel_pic_warp{
    width: 25%;
    height: 3.47em;
    float: left;

}
#baoji_channel_pic{
     width: 80%;
    height: 100%;
    margin: auto;
    background-size:100% 100%;
}

#baoji_channel_bottonBg{
    background-image: url("../../comImages/channel_bg.png");
    background-size:100% 100%;
    position: absolute;
    width:100%;
    height:0.45em;
    bottom: 0px;
}
#baoji_channel_warp{
    width: 100%;
    height:4.375em;
    position: relative;
    margin-top: 0.5em;
    -webkit-box-shadow: 2px 10px 15px #909090;
}
.styleMode2_channel{
    background-image: url("../../comImages/styleMode2_bt.png");
    background-size:100% 100%;
    position: relative;
    top: -0.2em;
}
.styleMode2_channel_picWarp{
    height: 100%;


}
.styleMode2_channel_pic{
    height: 100%;
    width: 80%;
    margin: auto;
    background-size: 100% 100%;
}
.styleMode2_channel_picWarp{
    height: 3.75em;
    float: left;

}
/*所以的滚动条*/
.x-scroll-bar{
   /* display: none;*/
}

/*channel  dataView页面样式*/
.G_channel_dataView_Warp {
    float: left;
    width: 32%;
}
.G_channel_dataView_icon {
    float: left;
    width: 88%;
    position: relative;
    height: 66%;
    left: 17%;
    background-size: 100% 100%;
    background-position: center center;
    top: 20%;
    -webkit-box-shadow: 2px 10px 15px #909090;
}

.G_channel_dataView_icon.tap_cls{
    -webkit-box-shadow: 2px 10px 15px #C51818;

}

/*channel  cars 下标页面样式*/
.Car_Indicator_G_cars_channel{
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position:relative;
    bottom: 0px;
    display: -webkit-box;
    width: 100%;
    height: 0.7em;
    top: .5em;
}

.Car_Indicator_G_cars_channel span {
    background-image: url("../comImages/cars_in.png");
    background-size: 100% 100%;
    -webkit-border-radius: 0px;
    width: 2.25em;
    height: 0.6em;
    display: block;
    margin-right:0.3em;
}
.Car_Indicator_G_cars_channel .activity_decorate
{
    background-image:url("../comImages/cars_in_act.png");
    background-size: 100% 100%;
}
/*backPar  NenuViewCar 页面样式*/

 .G_NenuView_title{
    text-align: center;
    padding-top: 5%;
    font-size: 1em;
    padding-bottom: 0.1em;
    color: rgba(0,0,0,0.5);
    border-right: 1px solid rgba(27, 26, 26,0.6);
    margin:0px;
}
 .G_NenuView_active{
    border-bottom: 3px solid rgb(255, 32, 54);
}
/*backPar  secondDataview 页面样式*/
.G_secondDataview .x-scroll-scroller{
    width: 100% !important;
}

/*backPar  thirdNormal 页面样式*/
#third_normal_title{
    padding: 0.5em;
    text-align: center;
    font-size: 1.3em;
    font-family: "Microsoft YaHei" ! important;
    color: rgba(85, 76, 71, 1);
    border-bottom: 1px dashed rgba(0,0,0,0.5);
    margin-bottom: 0.4em;
}

#third_normal_pic{
    width: 90%;
    background-size: 100% 100%;
    margin: auto;
    border: 3px solid #cccccc

}
#contentTip_warp{
    width: 100%;
    height: 3em;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#contentTip_warp p{
    margin: 0.3em;
    width: 5em;
    height: 2.5em;
}
#contentTip_comment{
    background-image:url("../comImages/comment.png") !important;

    background-size: 100% 100%;
}
#contentTip_collect{
    background-image:url("../comImages/collect.png") !important;
    background-size: 100% 100%;
}
#contentTip_share{
    background-image:url("../comImages/share.png");
    background-size: 100% 100%;

}
.my_secondDataview .x-list-paging{
    position: relative;
    top: 0.5em;
}
.loadingIcon{
    position: absolute;
    z-index: 50;
    width: 3em;
    height: 3em;
    background-image: url("../comImages/loading.gif");
    background-size:100% 100%;
    opacity: .2;
    display: none;
}
.loadingError{
    display: none;
    position: absolute;
}
#pullUp{
    text-align: center;
    height: 4em;
}
#pullUp .loading{
    width: 3em;
    height: 3em;
    background-image: url("../comImages/loading.gif");
    background-size:100% 100%;
    margin: auto;
    display: none;
}

.my_secondDataview .x-list-paging{
    position: relative;
    top: 0.5em;
    height: 0px;
}
.my_secondDataview .x-list-paging .x-innerhtml{
    height: 0px;
}