

.myAdv_Indicator {
    height: 0.7em !important;
    position:absolute;
    bottom: 0px;
    display: -webkit-box;
    width: 100%;
}
.myAdv_Indicator div  {
    -webkit-box-flex:1;
    background-color: rgba(0,0,0,0.8);
    margin: 0px 0px 0px 0px;
}
.myAdv_Indicator .activity_decorate
{
    background-color: #fff000;
}



#myPageTitle{
    font-size: 1.4em;
    color: #ffffff;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.index2_shangQiu_top .x-innerhtml {
    width: 100%;
    height: 100%;
}
.index_head_log{
    background-size: 100% 100%;
    width: 13em;
    height: 2.8em;
    float: left;
    margin-left: 0.2em;
    margin-top: 0.2em;
}
.headText{
    line-height: 200%;
    text-align: center;
    font-size: 1.3em;
}


.index_shangQiu_top .x-center{
    display: none;
}
.index2_shangQiu_top .x-center{
    display: none;
}

.index_shangQiu_top .index_weather_warp{
    width: 6.5em;
    height: 2em;
    float: right;
    margin-right: 4.8%;
    margin-top: 2.3%;
}
.index_shangQiu_top .index_weather_log{
    width: 2em;
    height: 2em;
    background-size:100% 100%;
    float: right;
}
.index_shangQiu_top .index_weather_area{
    margin-left: 25%;
    font-size: 0.8em;
    margin-top: 0.2em;
    color: #fff;
}
.index_shangQiu_top .index_weather_value{
    margin-left: 18%;
    font-size: 0.8em;
    color: #fff;
}

.index_shangQiu_top .index_search_warp{
    width: 90%;
    height: 34%;
    position: absolute;
    bottom: 10%;
    margin-left: 5%;
}
.index_shangQiu_top .index_search_text{
    width: 100%;
    height: 100%;
    border-radius: 13px;
    border: 0px;

}
.index_shangQiu_top .index_search_but{
    background: url(../../shangQiu_4/shangQiu-images/head_search.png) !important;
    border: none;
    position: absolute;
    width: 8.8%;
    height: 66%;
    right: 0%;
    top: 9%;
    background-size: 100% 100%;
}
.index_shangQiu_top .search_but{
    position: absolute;
    width: 3.2em;
    height: 2.2em;
    background-image:url(../../shangQiu_4/shangQiu-images/head_search.png) !important;
}

.nav_back_but {
    position: absolute;
    width: 3.2em;
    height: 2.2em;
    top: 1%;
    z-index: 20;
    background-image: url(../../shangQiu_4/shangQiu-images/navBack.png) !important;
    background-size: 100% 100%;
}
.nav_back_but.tap_cls{
    -webkit-filter: invert(1);

}








/*------------------表格样式---------------*/

/*------------------登陆---------------*/

.login_warp{
    height: 100%;
    width: 90%;
    margin: auto;
    margin-top: 5em;
}
.field_text_warp{
    display: -webkit-box;
    background-image:url(../../shangQiu_4/shangQiu-images/feild_bg.png) !important;
    background-size:100% 100%;
    height: 2.7em;
    margin-top: 0.2em;
}
.field_text_warp span{
    margin-top: 1em;
    position: relative;
    margin-left: 1em;
    display: block;
}

.inputText_warp{
    -webkit-box-flex: 1;
}

.login_input{
    background: transparent none;
    border: 0;
    outline: 0!important;
    width: 100%;
    font-size: 1.5em;
    padding: 0.4em;
    margin: 0;

}
.login_regist_but{
    width: 100%;
    height: 2.7em;
    background-color: rgba(0,0,0,0);
    background-image: url(../../shangQiu_4/shangQiu-images/regist_bg.png) !important;
    background-size: 100% 100%;

}
.login_regist_but.tap_cls{

    -webkit-filter: invert(1);
}

.login_login_but{
    width: 100%;
    height: 2.7em;
    background-image: url(../../shangQiu_4/shangQiu-images/login_bg.png) !important;
    background-size: 100% 100%;
}
.login_login_but.tap_cls{
    -webkit-filter: invert(1);
}

.login_but_warp{
    margin-top: 2em;
}

input[type=button].tap_cls{
    -webkit-filter: invert(1);
}
/*------------------注册--------------*/

.regist_field_warp{
    background-image: url(../../shangQiu_4/shangQiu-images/regist_view_bg.png) !important;
    background-size: 100% 100%;
}


.regist_field_text_warp{
    display: -webkit-box;
    background-size: 100% 100%;
    height: 2.3em;
    border-bottom: 1px solid #ddd;
}
.regist_field_text_warp span{
    margin-top: 1em;
    position: relative;
    margin-left: 1em;
    display: block;
}


.regist_input{
    background: transparent none;
    border: 0;
    outline: 0!important;
    width: 100%;
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0;

}
.regist_regist_but{
    width: 90%;
    margin-bottom: 1.5em;
    margin: auto;
    height: 2.7em;
    margin-top: 2em;
    background-color: rgba(0,0,0,0) !important;
    background-image: url(../../shangQiu_4/shangQiu-images/regist_but.png) !important;
    background-size: 100% 100%;

}
.regist_regist_but.tap_cls{
    -webkit-filter: invert(1);
}




.shangQiu_fieldset .x-form-fieldset-inner{
    background-color: rgba(0,0,0,0);
    border:0px solid #ddd !important;
}



.shangQiu_textForm {
    background-image:  url(../../shangQiu_4/shangQiu-images/feild_bg.png) !important;
    background-size: 100% 100% !important;
    border-bottom:0px solid #ddd !important;
    height: 2.7em;
    margin-top: 0.2em;
}
.shangQiu_textForm input{
    background-color: transparent;
}
.shangQiu_textForm .x-form-field{
    padding-top: 4%;
}
.shangQiu_textlabel{
    background-color: rgba(0,0,0,0);
    margin-left: 2%;
    color: #ffffff;
    border-top: 0px solid #fff !important;
}

.shangQiu_login_but{
    width: 100%;
    height: 2.7em;
    background-color: rgba(0,0,0,0);
    background-image: url(../../shangQiu_4/shangQiu-images/login_bg.png) !important;
    background-size: 94% 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 0px;
    border: 0px;
}
.shangQiu_regist_but{
    width: 100%;
    height: 2.7em;
    background-color: rgba(0,0,0,0);
    background-image:url(../../shangQiu_4/shangQiu-images/regist_bg.png) !important;
    background-size: 100% 100%;
    border-radius: 0px;
    border: 0px;
}
/*.shangQiu_login_but_press{
    background-image:url(../../shangQiu_4/shangQiu-images/login_press.png) !important;
    background-size: 100% 100%;

}*/

/*------------------登陆end---------------*/


/*------------------注册---------------*/

.shangQiu_regist_fieldset  .x-form-fieldset-inner{
    background-color: rgba(0,0,0,0);
    border:0px solid #ddd !important;
    background-image:url(../../shangQiu_4/shangQiu-images/regist_view_bg.png) !important;
    background-size: 100% 100%;
}
.shangQiu_regist_fieldset input{
    background-color: transparent;

}

.shangQiu_reg_but{
    width: 90%;
    margin-bottom: 1.5em;
    margin: auto;
    height: 2.7em;
    background-color: rgba(0,0,0,0) !important;
    background-image: url(../../shangQiu_4/shangQiu-images/regist_but.png) !important;
    background-size: 100% 100%;
    border-radius: 0px;
    border: 0px;
}
/*.shangQiu_reg_but_press{
    background-image:url(../../shangQiu_4/shangQiu-images/login_press.png) !important;
}*/
/*------------------注册end---------------*/

/*------------------搜索---------------*/


.search_warp{
    display: -webkit-box;
    height: 2em;
    width: 91%;
    margin: auto;
}
.input_search_warp{
    -webkit-box-flex: 1;
}
.input_search{
    outline: 0!important;
    display: block;
    width: 100%;
    padding: 0.5em 0 0.5em 0.3em;
    border: 1px solid #E1E5E8;
    border-radius: 0.3em;
    background: #F4F8FA;
    font-size: inherit;
    color: #C0C1C1;
}
.search_but{
    position: absolute;
    width: 2em;
    height: 2em;
    left: 82%;
    background-image: url(../../shangQiu_4/shangQiu-images/search_icon.png) !important;
    background-size: 100% 100%;
}
.search_but.tap_cls{
    -webkit-filter: invert(1);
}

/*.shangQiu_search_but_press{

    background-image: url(../../shangQiu_4/shangQiu-images/search.png) !important;
}*/
/*------------------搜索end---------------*/


/*------------------详细信息---------------*/






.baseInfo{
    display:-webkit-box;
    border: 4px solid #ffffff !important;
    background: #ceccc1 !important;
}
.baseInfo_image{
    -webkit-box-shadow: 2px 10px 15px #909090;
    margin: 0.5em;
    width: 7em;
    height: 7em;
    background-image: url("../../shangQiu_4/shangQiu-images/userIcon.png") !important;
    background-size: 100% 100%;
}
.baseInfo_form{
    -webkit-box-flex: 1;
}
.baseInfo_text_warp{
    display:-webkit-box;
    border-bottom: 1px solid #ddd;
    height: 2em;
    padding-top: 0.8em;
}
.baseInfo_text_warp.last {
    border-bottom: 0px solid #ddd;

}

.baseInfo_text_warp span{
    color: #615f57;
    font-size: 1.2em;
}
.baseInfo_input{
    background: transparent none;
    border: 0;
    outline: 0!important;
    width: 100%;
    font-size: 1.5em;
    margin-top: -0.2em;
    margin-left: 0.4em;
}
.inputText_warp{
    -webkit-box-flex: 1;
}

.detailInfo{
    border: 4px solid #ceccc1 !important;
    color: #615f57;
}
.detailInfo_text_warp{
    display: -webkit-box;
    border-bottom: 1px solid #ddd;
    height: 2em;
    padding-top: 0.8em;

}
.detailInfo_text_warp span{
    color: #131313;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.detailInfo_input{
    background: transparent none;
    border: 0;
    outline: 0!important;
    width: 100%;
    font-size: 1.5em;
    margin-top: -0.2em;
}

.detailInfo .pwdbtn{
    text-align:center;
}
.detailInfo .pwdbtn input{
    width:6.25em;
    height:2.5em;
    line-height:2.5em;
    margin:1.3em auto 0;
    padding:0;
    background:-webkit-linear-gradient(top,#9B0000,#950000);
    border-radius:0.8em;
    color:#FFF;
    text-align:center;
    cursor:pointer;
}


/*------------------详细信息end---------------*/

/*------------------密码修改---------------*/

.editPwd{
    margin:1.2em;
    padding:1.2em;
    border:1px solid #E1E5E8;
    border-radius:0.3em;
    background:#F1F3F4;
    font-size: inherit;
}
.passwordModif{
    position: relative !important;
    margin: auto;
    top: 3em;
}
.editPwd label{
    display:block;
    margin-bottom:0.3em;;
    font-size:1.2em;
}
.editPwd input{
    width:100%;
    height:2.5em;
    line-height:2.5em;
    margin-bottom:1.87em;
    padding-left:0.625em;
    border:1px solid #E1E5E8;
    border-radius:5px;
    background:#F4F8FA;
    color:#666;
}
.editPwd input:focus{
    border:1px solid rgba(0,102,255,.8);
    box-shadow:1px 1px 3px rgba(0,153,255,.5),-1px -1px 3px rgba(0,153,255,.5);
}
.editPwd .pwdbtn{
    text-align:center;
}
.editPwd .pwdbtn input{
    width:6.25em;
    height:2.5em;
    line-height:2.5em;
    margin:1.3em auto 0;
    padding:0;
    background:-webkit-linear-gradient(top,#9B0000,#950000);
    border-radius:0.8em;
    color:#FFF;
    text-align:center;
    cursor:pointer;
}
.editPwd .pwdbtn input:focus{
    border:1px solid rgba(51,51,51,.8);
    box-shadow:1px 1px 3px rgba(0,0,0,.8);
}
/*------------------密码修改end---------------*/




.third_normal_title_clear{
    margin: 0.4em;
    padding: 0.1em;
    text-align: center;
    font-size: 1.5em;
    font-family: "Microsoft YaHei" ! important;
    color: rgba(85, 76, 71, 1);
    border-radius: 1em;
    border: 1px solid;
}



/*------------------反馈--------------*/

#Feedback{
    padding:1.25em;
}
#Feedback input,#Feedback textarea{
    display: block;
    width: 100%;
    margin: 0.6em 0;
    padding: 0.5em 0 0.5em 0.3em;
    border: 1px solid #E1E5E8;
    border-radius: 0.3em;
    background: #F4F8FA;
    font-size: inherit;
    color: #C0C1C1;
}
#Feedback input:focus,#Feedback textarea:focus{
    border:1px solid rgba(0,102,255,.8);
    box-shadow:1px 1px 3px rgba(0,153,255,.5),-1px -1px 3px rgba(0,153,255,.5);
}
#Feedback #txt{
    min-height:5em;
}
#Feedback .send{
    width:6.25em;
    height:2.5em;
    line-height:2.5em;
    margin:1.56em auto;
    padding:0px;
    background:-webkit-linear-gradient(top,#9B0000,#950000);
    border-radius:0.62em;
    text-align:center;
    cursor:pointer;
}
#Feedback .send:focus{
    border:1px solid rgba(51,51,51,.8);
    box-shadow:1px 1px 3px rgba(0,0,0,.8);
}
/*------------------反馈-end-------------*/

/*------------------消息框--------------*/

#popupBox{
    margin: 1.25em;
    padding: 0 0 1.25em;
    border: 1px solid #E1E5E8;
    background: #F4F8FA;
    width: 90%;
    position: relative !important;
    margin: auto;
    top: 10em;


}
#popupBox h3{
    height:1.87em;
    background:-webkit-linear-gradient(top,#f7f7f7,#fcf7f7);
}
#popupTxt{
    padding:1em 1.25em;
    font-weight:bold;
    text-align:center;
}
#popupBtn{
    text-align:center;
}
#popupBtn input{
    width:6.25em;
    height:2.5em;
    line-height:2.5em;
    margin:1.56em auto 0;
    padding:0;
    background:-webkit-linear-gradient(top,#9B0000,#950000);
    border-radius:0.625em;
    color:#FFF;
    text-align:center;
    cursor:pointer;
}
#popupBtn input:focus{
    border:1px solid rgba(51,51,51,.8);
    box-shadow:1px 1px 3px rgba(0,0,0,.8);
}
/*------------------消息框-end-------------*/
/*------------------评论-------------*/
.commentFloat{
    position: relative !important;
    margin: auto;
    top: 6em;

}

#Comment{
    padding:1.25em;
}
#Comment #txt{
    display:block;
    width:100%;
    min-height:6em;
    margin:0.6em 0;
    padding:0.5em 0 0.5em 0.3em;
    border:1px solid #E1E5E8;
    border-radius:0.3em;
    background:#F4F8FA;
}
#Comment #txt:focus{
    border:1px solid rgba(0,102,255,.8);
    box-shadow:1px 1px 3px rgba(0,153,255,.5),-1px -1px 3px rgba(0,153,255,.5);
    color:#666;
}
#Comment p{
    text-align:center;
}
#Comment p .send{
    width:6.25em;
    height:2.5em;
    line-height:2.5em;
    margin:1.25em auto;
    padding:0;
    background:-webkit-linear-gradient(top,#9B0000,#950000);
    border-radius:0.7em;
    color:#FFF;
    text-align:center;
    cursor:pointer;
}
#Comment .send:focus{
    border:1px solid rgba(51,51,51,.8);
    box-shadow:1px 1px 3px rgba(0,0,0,.8);
}



/*------------------评论end-------------*/

