
.secondDataview .x-scroll-scroller{
    width: 100% !important;
}


.shangQiu_productView_warp{
    float: left;
    width: 48%;
    margin-top: 3.8%;
}

.shangQiu_shadowView_icon{
    background-position: center center;
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    margin: auto;
    -webkit-box-shadow: 2px 10px 15px #909090;
}

.shangQiu_productView_icon{
    background-position: center center;
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 2em;
}
.shangQiu_productView_icon.tap_cls{
    -webkit-filter: invert(1);
}

.shangQiu_dataView_icon{
    background-position: center center;
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
    margin: auto;
}
.shangQiu_productView_title{
    text-align: center;
    font-size: 1.25em;
    padding: 4%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.shangQiu_newList_Warp{
    width: 100%;
    height: 5.5em;
    padding-top: 0.5em;
    border-bottom: 1px solid #dedede;
}

.shangQiu_newList_Warp.tap_cls{
    background-color: rgba(196, 11, 11, 0.5);

}
.shangQiu_newList_image{
/*    background-position: center center;
    border: 0;
    border-radius: 50%;*/
    background-size: 100% 100%;
    float: left;
    width: 4em;
    height: 4em;
    margin-left: 2%;
}
.shangQiu_newList_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    font-weight: bold;
    text-indent: 4%;
    height: 1.5em;
}
.shangQiu_newList_des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    text-indent: 4%;
    height: 1em;
    color: rgba(0,0,0,0.5);
}

/*
.shangQiu_newList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;
}
*/

/*image 列表*/
.shangQiu_imageList{
    width: 100%;
}
.shangQiu_imageList .x-innerhtml{
    height: 5.75em;
}

.shangQiu_imageList_image_warp{
    float: left;
    border: 0;
    border-radius: 0.5em;
    width: 5em;
    height: 4em;
}
.shangQiu_imageList_image{
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.shangQiu_imageList_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.2em;
    font-weight:bold;
    text-indent: 4%;
    height: 1.5em;
    margin: 0.5em;
}

.shangQiu_imageList_des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    text-indent: 8%;
    height: 1em;
}
.shangQiu_imageList_arrow{
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1.31em;
    right: 1.31em;
}
.shangQiu_imageList_text_Warp{
    width: 88%;
}
.shangQiu_imageList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;

}


.shangQiu_blogList{
    width: 100%;
}



.shangQiu_blogList .x-innerhtml{
    height: 5.55em;
}

.shangQiu_blogList-image-warp{
    float: left;
    height: 3.8em;
    width: 2em;
    position: relative;
}
.shangQiu_blogList-image{
    text-align: center;
    border: 0;
    border-radius: 0.5em;
    background-color: #ff0000;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 23%;
    top: 37%;
}
.shangQiu_blogList-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.2em;
    font-weight:bold;
    text-indent: 4%;
    height: 1.5em;
    margin: 0.5em;
}

.shangQiu_blogList-des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    text-indent: 8%;
    height: 1em;
}
.shangQiu_blogList_arrow{
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1.31em;
    right: 1.31em;
}
.shangQiu_blogList_text_Warp{
    width: 88%;
}
.shangQiu_blogList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;
}

.shangQiu_showList{
    width: 100%;
}

.shangQiu_showList .x-innerhtml{
    height: 7em
}

.shangQiu_showList-image-warp{
    float: left;
    border: 0;
    border-radius: 0.5em;
    width: 5em;
    height: 5em;
}
.shangQiu_showList-image{
    background-position: center center;
    width: 100%;
    height: 90%;
    background-size: 100% 100%;
}
.shangQiu_showList-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.2em;
    font-weight:bold;
    text-indent: 4%;
    height: 1.5em;
    margin: 0.5em;
}

.shangQiu_showList-des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    text-indent: 4%;
    height: 1em;
    margin-top: 0.6em;
}
.shangQiu_showList-arrow{
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 2.01em;
    right: 0.25em;

}
.shangQiu_showList-arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;

}
.shangQiu_showList-style{
    text-align: center;
}

.shangQiu_needList .x-innerhtml{
    height: 6em
}

.shangQiu_needList_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.2em;
    font-weight:bold;
    text-indent: 8%;

}
.shangQiu_needList_des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    text-indent: 8%;
    height: 1.5em;
}
.shangQiu_needList_tel{
    float: left;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
.shangQiu_needList_add{
    float: right;
    width: 40%;
    right: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shangQiu_needList_arrow{
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1.3em;
    right: 0.8em;

}
.shangQiu_needList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;

}
.shangQiu_productList{
}
.shangQiu_productList .x-innerhtml{
    height: 5.75em;
}

.shangQiu_productList_image_warp{
    float: left;
    border: 0;
    border-radius: 0.5em;
    width: 5em;
    height: 3.75em;
}
.shangQiu_productList_image{
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.shangQiu_productList_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: bold;
    height: 1.5em;
    text-indent: 4%;
}
.shangQiu_productList_content{
    width: 95%;
}
.shangQiu_productList_des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    margin-top: 0.6em;
    text-indent: 4%;
}
.shangQiu_productList_arrow{
    width: 1em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1.3em;
    right: 0.5em;
}

.shangQiu_productList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;

}

.shangQiu_groupList{
    width: 100%;
}
.shangQiu_groupList .x-innerhtml{
    height: 5.75em;
}

.shangQiu_groupList_image_warp{
    float: left;
    border: 0;
    border-radius: 0.5em;
    width: 5em;
    height: 4em;
}
.shangQiu_groupList_image{
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}
.shangQiu_groupList_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.2em;
    font-weight:bold;
    text-indent: 4%;
}
.shangQiu_groupList_area{
    text-indent: 8%;
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);

}

.shangQiu_groupList_des{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:0.8em;
    color: rgba(0,0,0,0.5);
    text-indent: 4%;
    height: 1.5em;
    margin-top: 0.3em;

}
.shangQiu_groupList_arrow{
    width: 2em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1.31;
    right: 1.31em;
}
.shangQiu_groupList_text_Warp{
    width: 88%;
}
.shangQiu_groupList_arrow span{
    border: 2px solid #b9b9b9;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1em;
    position: absolute;
    left: -1em;
}














/*评论信息*/
.menulist {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10%;
}

.menulist .x-list-item{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: rgba(177, 77, 7, 0.2);
}
.menulist .menulist-item-first{
    border-top: 1px solid #000;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.menulist .menulist-item-last{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.menulist .menuList_icon{
    float: right;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../../myImages/allow.png);

}
/*评论*/
.dislist_warp{
    position: relative;
    margin-top: 0.5em;
    border-bottom:2px dashed #999;
}
.dislist_warp.tap_cls{
    background-color: rgba(156, 7, 7,0.8);
}

.dislist_content{
    padding-bottom: 10px;
}

.dislist_time{
    text-align: center;
    text-align: center;
    font-size: 0.5em;
    color: rgba(0,0,0,0.5);
}


.dislist_mark{
    float: left;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../../shangQiu_4/shangQiu-images/commentMark.png);
    margin-top: 0.6em;
    margin-right: 1.2em;
    width: 8%;
    height: 50%;

}
.shangQiu_imagetView_warp{
    float: left;
    width: 35%;
    margin-top: 3.8%;

}

.collectlist{
    width: 100%;
    margin: auto;
    height:100%;
    background-color: #f8f7f1;
}

.shangQiu_collectlist_warp{
    height: 7em;
    border-bottom: 1px dashed  rgba(16, 7, 10, 0.1);
    background-color: rgba(0, 0, 0, 0);
}
.shangQiu_collectlist_warp.tap_cls{
    background-color: rgba(156, 7, 7,0.8);
}

.collectlist_icon_warp{
    float: left;
    margin-top: 0.4em;
    margin-left: 1em;
    width: 5em;
    height: 5em;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 10px 15px #909090;

}
.collectlist_icon{
    background-position: center center;
    background-size: 100% 100%;
    height: 89%;
    margin: 8px;

}
.collectlist_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:1.7em;
    font-family: "Microsoft YaHei" ! important;
    color: rgba(85, 76, 71, 1);
    padding-top: 0.7em;
    padding-left: 1em;

}
.collectlist_context{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-family: "Microsoft YaHei" ! important;
    margin-left: 11px;
    position: relative;
    top: 3px;
    color: rgba(156, 152, 150, 1);
}


.sharelist{
    width: 95%;
    margin: auto;
    height:80%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20%;
}
.sharelist .x-list-item{
    border-bottom: 1px solid rgba(16, 7, 10, 0.1);
    border-left: 1px solid rgba(16, 7, 10, 0.1);
    border-right: 1px solid rgba(16, 7, 10, 0.1);
    background-color: rgba(0, 0, 0, 0);
}
.sharelist .sharelist-item-first{
    border-top: 1px solid rgba(16, 7, 10, 0.1);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.sharelist .sharelist-item-last{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.sharelist_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    font-family: "Microsoft YaHei" ! important;
    padding-top: 0.8em;
    padding-left: 0.5em;
}
.sharelist_icon{
    float: left;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 0.6em;
    margin-left: 0.6em;
    width: 3em;
    height: 3em;
}
.sharelist .x-innerhtml{
    height: 4em;
}
.sharelist_but{
    float: right;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 0.8em;
    margin-right: 0.4em;
    width: 4em;
    height: 2.5em;
}

/*-----------------------列表样式----------------------*/

/*--------------搜索列表样式----------------*/
.shangQiu_searchList_warp{
    margin-top:0.6em;
    margin-left: 1em;
    height: 2.5em;
    border-bottom: 1px dashed  rgba(16, 7, 10, 0.8);
}
.shangQiu_searchList_warp.tap_cls{
    background-color: rgba(156, 7, 7,0.8);
}

.shangQiu_searchList{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.shangQiu_searchList .x-list-item{
    border-top:0px solid;

}

.shangQiu_searchList .x-innerhtml{
    height: 4em;
}

.shangQiu_searchList-image-warp{
    float: left;
    height: 1.5em;
    width: 1.5em;
    background-image: url(../../shangQiu_4/shangQiu-images/search_res_icon.png);
    background-size: 100% 100%;
    background-position: center center;
}
.shangQiu_searchList-order{
    position: relative;
    left: 35%;
    top: 24%;
    font-size: 1.2em;//119%;
    color: #fff;

}
.shangQiu_searchList-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    text-indent: 0.2em;
    color: rgba(0,0,0,0.7);
    margin-top: 0.4em;
}

.shangQiu_searchList_text_Warp{
    width: 88%;
}


/*--------------用户信息列表样式----------------*/
.shangQiu_infolist{
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 1em;
}
.shangQiu_infolist_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Microsoft YaHei" ! important;
    padding-top: 0.6em;
    font-size: 1.3em;
    padding-left: 1.1em;
}



.shangQiu_infolist_warp{
    border-bottom: 1px solid #73695C;
    border-left: 1px solid #73695C;
    border-right: 1px solid #73695C;
    background-color: rgba(0, 0, 0, 0);
    height: 4em;
}

.shangQiu_infolist_warp.tap_cls{
    background-color: rgba(156, 7, 7,0.8);
}

.shangQiu_infolist_warp.item_first{
    border-top: 1px solid #73695C;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.shangQiu_infolist_warp.item_last{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.shangQiu_infolist_icon{
    float: left;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 1.1em;
    margin-left: 1.1em;
    width: 8%;
    height: 41%;
}

/*------------------------------设置信息----------------------------*/
.shangQiu_morelist{
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../shangQiu_4/shangQiu-images/more1_view.png);
    background-size: 100% 100%;
    margin-top: 1em;
}

.shangQiu_morelist .more_list_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 1.5em;
    padding-top: 0.8em;
    padding-left: 0.4em;
    border-bottom: 1px solid #F7F5F5;
}

.more_list_title.tap_cls{
    color: red !important;
}

.shangQiu_morelist .x-list-item{
    border-bottom: 1px solid #F7F5F5;
    background-color: rgba(249, 243, 255,0);
    width: 91%;
    margin: auto;
}
.shangQiu_morelist .shangQiu_morelist-item-last{
    border-bottom: 0px solid #F7F5F5;
}

.shangQiu_morelist1{
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../shangQiu_4/shangQiu-images/more2_view.png);
    background-size: 100% 100%;
    margin-top: 2em;
}

.shangQiu_morelist1 .more_list_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 1.5em;
    padding-top: 0.8em;
    padding-left: 0.4em;
    border-bottom: 1px solid #F7F5F5;
}

.shangQiu_morelist1 .x-list-item{
    border-bottom: 1px solid #F7F5F5;
    background-color: rgba(249, 243, 255,0);
    width: 91%;
    margin: auto;
}

.shangQiu_morelist1 .shangQiu_morelist1-item-last{
    border-bottom: 0px solid #F7F5F5;
}



/*-------------------------评论---------------------------*/
.shangQiu_dislist{
    width: 80%;
    margin: auto;
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10%;
}

.shangQiu_dislist_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Microsoft YaHei" ! important;
    padding-top: 0.6em;
    font-size: 1.3em;
    padding-left: 1.1em;
}



.shangQiu_dislist_warp.item_first{
    border-top: 1px solid #73695C;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.shangQiu_dislist_warp.item_last{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}


.shangQiu_dislist_warp{
    height: 3.5em;
    border-bottom: 1px solid #73695C;
    border-left: 1px solid #73695C;
    border-right: 1px solid #73695C;
}

.shangQiu_dislist_warp.tap_cls{
    background-color: rgba(156, 7, 7,0.8);
}


.shangQiu_dislist_arrow{
    width: 2em;
    height: 2em;
    overflow: hidden;
    position: absolute;
    margin-top: 1em;
    right: 3.31em;
}
.shangQiu_dislist_arrow span{
    border: 4px solid #73695C;
    -webkit-transform: rotate(45deg);
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: -1em;
}


/*--------------搜索列表样式end----------------*/