/*CSS reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,input,img,abbr,acronym{border:none;}
address,caption,cite,code,dfn,em,i,strong,b,th,var{font-style:normal;font-weight:normal;}
ul,ol{list-style-type:none;}
a{text-decoration:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button,select,textarea{outline:none}
q:before,q:after{content:'';}


.ui-body-c, .ui-overlay-c {
    color: #30c538;
}

#shadeLayer{
    display: none;
    z-index: 50;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0px;
}
#dialogueLayer{
    z-index: 100;
    position: absolute;
    top: 0px;
    width: 100%;
}
#infoLayer{
    z-index: 120;
    position: absolute;
    top: 0px;
    width: 100%;
}

#mainBar_item{
    -webkit-box-flex:1
}
#mainBar_item_pic{
    background-size: 100% 100%;
    width: 3.2em;
    margin: auto;
    height: 3.2em;
    display: block;
}
.myNav{
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
/*.navCon {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}*/
.navCon > .warpCon{
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
     height: 100%;
}


.myCars{
    position: relative ;

}
.scrollable{
    overflow-y: auto;
}
.scrollable_y{
    overflow-y: auto;
}
.scrollable_x{
    overflow-x: auto;
}
.vhide{
    visibility:hidden !important;
}
.vshow{
   visibility:visible !important;
}
.hbox{
    display: -webkit-box;
    -webkit-box-orient: horizontal;

}
.vbox{
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.flex1{
    -webkit-box-flex: 1;
}
input{
    margin: 0em;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-size: inherit
}
